<div class="fundoForm">
    <div class="container containerForm">
        <div class="title">
            <h1>Seus agendamentos cadastrados</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <td>Status</td>
                    <td>PET</td>
                    <td>Funcionario</td>
                    <td>Painel</td>
                </tr>
                <tr *ngFor="let agend of agendas! | paginate: { itemsPerPage:15, currentPage: p }">
                    <th>{{ agend.data_hora }}</th>
                    <td>{{ agend.status }}</td>
                    <td>{{ agend.pet_id }}</td>
                    <td>{{agend.funcionario_id}}</td>
                    <td>
                        <button class="botoesList" (click)="botaoFechar(agend.id)"><i class="bi bi-backspace-reverse-fill"></i>
                            Fechar</button>
                        <button class="botoesList" (click)="botaoEmAtendimento(agend.id)"><i class="bi bi-building-fill-check"></i>
                            Em atendimento</button>
                    </td>
                </tr>
            </thead>
        </table>

        <div class="paginator roller">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>