.fundo
{
  margin-top: 5em;
  background-image: url("../../../../assets/happiDog.jpg");
  min-height: 680px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container
{
  min-width: 400px;
  opacity: .9;
  padding: 20px;
  border-radius: 5px;
}