<div class="fundoForm">
    <div class="container containerForm">
        <div class="title">
            <h1>Lista de novos agendamentos</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <td>Status</td>
                    <td>PET</td>
                    <td>Funcionario</td>
                    <td>Painel</td>
                </tr>
                <tr *ngFor="let agend of agendas! | paginate: { itemsPerPage:15, currentPage: p }">
                    <th>{{ agend.data_hora }}</th>
                    <td>{{ agend.status }}</td>
                    <td>{{ agend.pet_id }}</td>
                    <td>{{agend.funcionario_id}}</td>
                    <td>
                        <button class="botoesList" (click)="botaoAceitar(agend.id)"><i
                                class="bi bi-arrow-right-circle"></i> Aceitar</button>
                        <button class="botoesList" (click)="recusarAgendas(agend.id)"><i class="bi bi-x-circle"></i>
                            Recusar</button>
                    </td>
                </tr>
            </thead>
        </table>

        <div class="paginator roller">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>


    <ng-template class="modal" #myModal>

        <div class="modal-header">
            <h4 class="modal-title pull-left">Selecione um funcionário</h4>
        </div>
        <div class="modal-body">
            <table class="table" (ngSubmit)="submit()">
                <thead>
                    <tr>

                        <td>Data</td>
                        <td>Status</td>
                        <td>Pet</td>
                        <td>Funcionario</td>
                    </tr>
                    <tr>
                        <td>{{agenda.data_hora}}</td>
                        <td>{{agenda.status}}</td>
                        <td>{{agenda.pet_id}}</td>

                        <select class="form-select my-1" [(ngModel)]="funcionarioSelecionado">
                            <option *ngFor="let func of funcionarios" [value]="func.id">{{func.nome}}</option>
                        </select>

                    </tr>
                </thead>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="submit()">Enviar</button>
        </div>



    </ng-template>





</div>