<div *ngIf="estabelecimento" class="fundoForm">
    <div class="container containerFormRow">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="h1">{{estabelecimento.nome}}</h1><br><br>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div class="icone-celular">
                    <p><i class="bi bi-telephone-fill"></i> {{estabelecimento.telefone}}</p>
                </div><br>
                <div class="icone-celular">
                    <p><i class="bi bi-briefcase-fill"></i> {{estabelecimento.cnpj}}</p>
                </div><br>
                <div class="icone-email">
                    <p><i class="bi bi-envelope"></i> {{estabelecimento.email}}</p>
                </div><br>
                <div class="icone-endereco">
                    <p><i class="bi bi-geo-alt"></i> {{estabelecimento.endereco}}</p>
                </div>
            </div>
            <div class="col-lg-6 mt-2 d-flex justify-content-center align-items-center">
                <img src="{{baseApiUrl}}uploads//{{estabelecimento.logo}}" alt="Logo do estabelecimento" class="imagempromo" />
            </div>
            <div class="col-lg-12 text-center mt-5">
                <a href="edit-seuEstabelecimento/{{estabelecimento.id}}" class="link-editar">Editar estabelecimento</a>
            </div>
        </div>
    </div>
</div>
