<div class="fundoForm d-flex justify-content-center align-items-center">
    <div class="row container containerForm">
        <h1 class="text-center">{{title}}</h1>
        <form [formGroup]="contatoForm" #formDir="ngForm">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input class="form-control" type="text" formControlName="nome" aria-label="readonly input example"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input class="form-control" type="text" formControlName="email" aria-label="readonly input example"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="assunto" class="form-label">Assunto</label>
                <input class="form-control" type="text" formControlName="assunto" aria-label="readonly input example"
                    readonly>

            </div>
            <div class="mb-3">
                <label for="mensagem" class="form-label">Mensagem</label>
                <textarea class="form-control" formControlName="mensagem" rows="5" placeholder="Sua Mensagem"
                    aria-label="readonly input example" readonly></textarea>
            </div>
            <button (click)="responder()" class="btn btn-primary">Responder</button>
        </form>
        <button (click)="botaoVoltar()" class="botaoVoltar">Voltar</button>
    </div>
</div>

<ng-template class="modal" #myModal>
    <app-resposta-contato [assunto]="assunt" [email]="emai" (onSubmit)="editHandler($event)"></app-resposta-contato>
</ng-template>