<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Pethelpers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!--Rotas sem autenticação-->
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active-link" *ngIf="logado ==! true"
                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="estabelecimentos" *ngIf="logado ==! true"
                        routerLinkActive="active-link">Estabelecimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="logado ==! true" routerLink="noticias"
                        routerLinkActive="active-link">Noticias Pet</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" *ngIf="logado ==! true" routerLink="contato"
                        routerLinkActive="active-link">Contato</a>
                </li>
                <!--Rotas com autenticação-->

                <li class="nav-item">
                    <a class="nav-link" *ngIf="authService.isLoggedIn$ | async" routerLink="seuEstabelecimento"
                        routerLinkActive="active-link">Seu Estabelecimento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="authService.isLoggedIn$ | async" routerLink="agenda"
                        routerLinkActive="active-link">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="authService.isLoggedIn$ | async" routerLink="servicos"
                        routerLinkActive="active-link">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="authService.isLoggedIn$ | async" routerLink="funcionarios"
                        routerLinkActive="active-link">Funcionarios</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="active-link"
                        *ngIf="logado != true; else loginOff">Login</a>
                    <ng-template #loginOff>
                        <a class="nav-link" routerLinkActive="active-link" (click)="logoff()">Sair</a>
                    </ng-template>
                </li>

            </ul>
        </div>
    </div>
</nav>