<div class="fundoForm">
    <div class="container containerForm">
        <div class="title">
            <h1>Lista de usuários cadastrados</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">ID</th>
                    <td>Nome</td>
                    <td>E-mail</td>
                    <td>Status</td>
                    <td>Painel</td>
                </tr>
                <tr *ngFor="let user of usuarios | paginate: { itemsPerPage:15, currentPage: p }">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{user.status}}</td>
                    <td>

                        <button class="botoesList" (click)="editar(user.id!)"><i class="bi bi-pen"></i>
                            Editar</button>
                        <button class="botoesList" *ngIf="user.status =='Ativo'"
                            (click)="desativarEstabelecimento(user.id!)"><i class="bi bi-trash"></i>
                            Desativar Usuário</button>
                        <button class="botoesList" *ngIf="user.status =='Desativado'"
                            (click)="ativarEstabelecimento(user.id!)"><i class="bi bi-trash"></i>
                            Ativar Usuário</button>

                    </td>
                </tr>
            </thead>
        </table>
        <div class="paginator roller">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>