<div class="fundoForm">
    <div class="container containerForm">
        <div class="title">
            <h1>Lista de funcionarios cadastrados</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">ID</th>
                    <td>Titulo</td>
                    <td>Descrição</td>
                    <td>Link</td>
                    <td>Painel</td>
                </tr>
                <tr *ngFor="let not of noticicas! | paginate: { itemsPerPage:15, currentPage: p }">
                    <th scope="row">{{ not.id }}</th>
                    <td>{{ not.titulo }}</td>
                    <td>{{ not.descricao }}</td>
                    <td>{{ not.link }}</td>
                    <td>
                        <button class="botoes" (click)="editar(not.id!)"><i class="bi bi-pen"></i></button>
                    </td>
                </tr>
            </thead>
        </table>
        <div class="paginator roller">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>