<div class="page">

    <div class="container">
        <form (ngSubmit)="submitLogin()" [formGroup]="LoginForm" #formDir="ngForm">
            <div class="box">
                <h1 class="text-center mb-3">Bem vindo PetHelper</h1>
                <div class="mb-3 text-center">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" formControlName="email" required>
                    <p *ngIf="email.invalid && formDir.submitted">O e-mail é obrigatório</p>
                </div>
                <div class="mb-3 text-center">
                    <label for="inputPassword5" class="form-label">Senha</label>
                    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
                        formControlName="password" required>
                    <p *ngIf="password.invalid && formDir.submitted">A senha é obrigatória</p>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>

            </div>
        </form>
        <div>
            <button class="botoesList" (click)="teste()">Cadastrar</button>
        </div>
    </div>


</div>


<ng-template class="modal" #myModal>
    <app-new-estabelecimento (formularioEnviado)="fecharModal()"></app-new-estabelecimento>
</ng-template>