<div class="row container my-2">
    <form (ngSubmit)="submit()" [formGroup]="respostaForm" #formDir="ngForm">
        <input type="hidden" formControlName="email">
        <div class="mb-3">
            <label for="assunto" class="form-label">Assunto</label>
            <input class="form-control" type="text" formControlName="assunto" aria-label="readonly input example"
                readonly>
        </div>
        <div class="mb-3">
            <label for="mensagemResposta" class="form-label">Mensagem</label>
            <textarea class="form-control" formControlName="mensagemResposta" rows="5" placeholder="Sua Mensagem"
                aria-label="readonly input example"></textarea>
            <div class="form-text" *ngIf="mensagemResposta.invalid && formDir.submitted">A mensagem é obrigatória</div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>