<div class="row container">
    <h1 class="text-center">{{title}}</h1>
    <form (ngSubmit)="submit()" [formGroup]="userForm" #formDir="ngForm">
        <input type="hidden" formControlName="id" />
        <div class="mb-3 campos">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" class="form-control" formControlName="email" required>
            <div class="form-text" *ngIf="email.invalid && formDir.submitted">O E-mail é obrigatório</div>
        </div>
        <div class="mb-3 campos">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" formControlName="nome" required />
            <div *ngIf="nome.invalid && formDir.submitted" class="form-text">O nome é obrigatório</div>
        </div>
        <div class="mb-3 campos">
            <label for="nome">CPF</label>
            <input type="text" class="form-control" formControlName="cpf" required />
            <div *ngIf="(formDir.submitted && conferirCpf() != true)" class="form-text">O CPF é invalido!!</div>
            <div *ngIf="(cpf.invalid && formDir.submitted)" class="form-text">O CPF é obrigatório</div>
        </div>
        <div class="mb-3 campos">
            <label for="cidade_id">Cidade</label>
            <select class="form-select" formControlName="cidade_id">
                <option *ngFor="let city of cidades" value="{{city.id}}">{{city.nome}}</option>
            </select>
        </div>
        <div class="mb-3 campos">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" formControlName="password" required />
        </div>
        <div class="mb-3 campos">
            <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="password2" required />
            <div *ngIf="(formDir.submitted && conferir() != true)" class="form-text">As senhas não coencidem</div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submit">{{btnText}}</button>
    </form>
</div>