<div class="fundoForm">
    <div class="container containerForm ">
        <div class="title">
            <h1>Lista de estabelecimentos cadastrados</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">ID</th>
                    <td>Nome</td>
                    <td>CNPJ</td>
                    <td>Painel</td>
                </tr>
                <tr *ngFor="let estab of estabelecimentos | paginate: { itemsPerPage: 15, currentPage: p }">
                    <th scope="row">{{ estab.id }}</th>
                    <td>{{ estab.nome }}</td>
                    <td>{{ estab.cnpj }}</td>
                    <td>
                        <button class="botoes" (click)="removeEstab(estab.id!)"><i class="bi bi-trash"></i></button>
                        <button class="botoes" (click)="editar(estab.id!)"><i class="bi bi-pen"></i></button>
                        <button class="botoes" (click)="listaFuncionarios(estab.id!)"><i class="bi bi-people"></i></button>
                        <button class="botoes" (click)="listaFuncionarios(estab.id!)"><i class="bi bi-calendar-check"></i></button>
                        <button class="botoes" (click)="listaServicos(estab.id!)"><i class="bi bi-list-columns"></i></button>
                    </td>
                </tr>
            </thead>
        </table>
        <div class="paginator roller">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
